<h1><%= @user.name %></h1>

<p><%= @user.feedback %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Profiles</h2>
<%= render @user.profiles %>


<h2>Add Profile</h2>
<%= render 'profiles/form' %>